<h1><%= @data[:table_title] %> Index</h1>

<hr>

<% @table_data = @data[:table_data] %>

<% if @table_data.nil? || @table_data.empty? %>

  <%= erb(:'partials/no_data') %>

<% else %>

  <%= erb(:'partials/table') %>

<% end %>

<hr>

<a class="button" href="<%= "/#{@path_root}/new" %>">New <%= @data[:record_title] %></a>
