<h1><%= @data[:page_title] %></h1>

<hr>

<% @record_data = @data[:record_data] %>

<% if @record_data == nil %>

  <%= erb(:'partials/no_data') %>

<% else %>

  <% for column_name, value in @data[:record_data] %>
    <p><b><%= column_name %> :</b> <%= value %></p>
  <% end %>

<% end %>

<hr>

<a class="button" href="<%= "/#{@path_root}" %>">&lt; Index</a>

<% id = @data[:record_data]['id'] %>
<form class="delete-button-form" action="<%= "/#{@path_root}/#{id}" %>" method="post">
  <input class="button delete-button" type="submit" value="Delete" />
  <input type="hidden" name="_method" value="delete" />
</form>
