<% name = @column_data['column_name'] %>
<% value_att = "" %>
<% value_att = @column_value if @view_mode == :edit %>

<label for="<%= name %>_input"><%= name %> :</label>
<input id="<%= name %>_input" type="text" name="<%= name %>" value="<%= value_att %>" required/>
